@import "https://cdn.jsdelivr.net/npm/beercss@3.0.4/dist/cdn/beer.min.css";

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 10%;
}

.floating-button {
    position: relative;
    float: right;
    top: -95px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}